body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#FEC8D8
}

nav{
   background:rgba(255,255,255,0.4);
    backdrop-filter:blur(12px);
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding:20px;
    position:sticky;
    top:0;
}

nav h1{
    color:#ff1493;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:black;
}

nav ul :hover{
    color:#D291BC
}

.texto h2{
    padding-top: 25px;
    text-align: center;
    color:#ff1493;
}

.texto p{
    margin-top:20px;
    font-size:22px;
    text-align: center;
}

.frase{
    text-align:center;
    color:#ff1493;
}

.frase p{
    text-align: center;
    color:black;
    font-size:22px;
}

.caja{
    background:#FFB5C0;
    border-radius:25px;
    overflow:hidden;
    text-align:center;
    margin-bottom: 60px;    
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    transition:0.5s;
 }

.caja:hover{
    transform:scale(1.03);
}


.caja img{
    width:50%;
    height:300 px;
    object-fit:contain;
}

.cuadro{
    background:#FFB5C0;
    padding:50px;
    border-radius:25px;
    text-align:center;
    width: 75%;
    margin: 50px auto;
    justify-content: center;

    transition:0.5s;
}

.cuadro:hover{
    transform:scale(1.03);
}   

.cuadro h3{
    color:#FF1493;
    margin-bottom:15px;
}

.cuadro ul{
    list-style:none;
}   

footer{
    text-align:center;
    padding:25px;
    background:#E57D90;
    color:black;
}